
.container {
    width: 400px;
    /*    height: 450px;*/
    position: relative;
    top: 80px;
    left:330px;
    border-radius: 15px;
    background: #667eea;
    background: -moz-linear-gradient(right, #764ba2 0%, #667eea 80%, #667eea 100%);
    background: -webkit-linear-gradient(right, #764ba2 0%, #667eea 80%, #667eea 100%);
    background: linear-gradient(right, #764ba2 0%, #667eea 80%, #667eea 100%);
    font-size: 14px;
    font-weight: bold;
    box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
}

body {
    width: 100%;
    background-image: url('../img/office-3126597_1920.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.container-h3 {
    position: relative;
    left: 80px;
    top: 25px;
    font-family: 'Damion', cursive;
    color: #e4dfeb;
    font-size: 40px;
}
.buton {
    /*    position: relative;*/
    background: -moz-linear-gradient(right, #764ba2 0%, #667eea 80%, #667eea 100%);
    background: -webkit-linear-gradient(right, #764ba2 0%, #667eea 80%, #667eea 100%);
    background: linear-gradient(right, #764ba2 0%, #667eea 80%, #667eea 100%);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    width: 70px;
    height: 35px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 13px;
}
#facebuton {
    background: -moz-linear-gradient(right, #764ba2 0%, #667eea 80%, #667eea 100%);
    background: -webkit-linear-gradient(right, #764ba2 0%, #667eea 80%, #667eea 100%);
    background: linear-gradient(right, #764ba2 0%, #667eea 80%, #667eea 100%);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    width: 155px;
    height: 35px;
    position: relative;
    left: 15px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 13px;
}
p {
    margin-top: 10px;
}
label {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 13px;
}
p a {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 13px;
}
#form {
    padding-bottom:1px;
}
#facebuton{
    text-decoration-line:none;
    color:floralwhite;
}
